@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100..900&display=swap");

:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --body-copy: 18px;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    font-size: 20px;
    --dark-brown: #4D331F;
    --light-wood: #E6B17E;
    --light-tan: #ffc288;
    --very-light-tan: #ccbaa9;
    --very-dark-brown: #1b1815;
    --very-light-gray: #e5e5e5;
    --very-dark-purple: #47404c;
}

* {
    font-family: Roboto, sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
    /*background-color: var(--dark-brown);*/
    background-image: linear-gradient(black, var(--very-dark-purple));
    height: 100%;
}

.header-page-item {
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none !important;
    color: var(--dark-brown);
}

header {
    padding-bottom: 1rem;
    background-color: black;
    margin-bottom: 2rem;
}
.index-top-navbar {
    background-color: black;
}

.notes-h1 {
    margin-bottom: 60px;
    color: white;
}
.nav-link, h1, label, p, h3, .details-div, .delete-div {
    color: white !important;
}
.deskquotes-table {
    margin-top: 3rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: 60px;
}

.deskquotes-table__title {
    background-color: white;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0rem;
    width: fit-content;
}

.deskquotes-table__date {
    padding-left: 1rem !important;
}

.deskquotes-table__th {
    font-weight: normal;
}

.deskquotes-table__td {
    font-size: var(--s-1);
}

tr:nth-child(even) {
    background-color: var(--very-light-gray);
}

footer {
    background-color: var(--very-dark-brown);
    height: 3rem;
}

a {
    color: black;
}

.create-button {
    background-color: white;
    border-radius: 5px;
}